@tailwind base;
@tailwind components;
@tailwind utilities;

/* Some basic page styles */
html, body, #root { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
